<div class="body" *ngIf="globals.isEmptyLayout !== true">

    <div class="header">
        <div class="left">
            <img class="logo" src="../assets/img/logokzly.png" alt="image">
        </div>
        <div class="right">
            <h1>Kızılay Example Website</h1>
            <h6>İçerik çekmek için api kullanım örnekleri</h6>
            <p>Hoş Geldiniz {{ getNameSurname() }}</p>
        </div>
    </div>

    <div class="navbar">
        <a routerLink="/"> {{ 'HOME_PAGE' | translate }}</a>
        <a routerLink="/example-about-page">About</a>
        <a routerLink="/example-contact-page">Contact</a>
        <a routerLink="/example-login-page" class="right">Login</a>
        <div class="right">
            <!-- <select class="form-control select-language" #langSelect (change)="changeLanguage(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                    [selected]="lang === translate.currentLang">{{ lang }}
                </option>
            </select> -->
            <select class='select-option' #langSelect (change)='changeLanguage(langSelect.value)'>
                <option class='option' value='tr'>TR</option>
                <option class='option' value='en'>EN</option>
            </select>
        </div>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</div>
<div *ngIf="globals.isEmptyLayout === true">
    <router-outlet></router-outlet>
</div>