<div class="wrapper">
    <div id="formContent">
        <h2 class="active">GİRİŞ</h2>
        <h2 class="inactive underlineHover">KAYDOL</h2>

        <form>
            <input type="text" id="login" name="login" placeholder="Kullanıcı Adı">
            <input type="text" id="password" name="login" placeholder="Şifre">
            <input type="button" (click)="login()" value="GİRİŞ">
        </form>

        <div id="formFooter">
            <a class="underlineHover">Şifremi Unuttum</a>
        </div>
    </div>
</div>